<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moit.advertisement.dao.AdvertisementMapper">

    <!-- 관리자 광고 목록 -->
    <select id="searchByAdmin"
	    parameterType="com.moit.advertisement.dto.AdvertisementSearchDto"
	    resultType="com.moit.advertisement.dto.AdvertisementDto">
	
	    SELECT *
	    FROM advertisements
	    WHERE delete_yn = 'N'
	    AND approval_status = 'APPROVED'
	
	    <if test="searchText != null and searchText != ''">
	        AND title LIKE '%' || #{searchText} || '%'
	    </if>
	    
	    <!-- 시작 순 -->
	    <if test="sort == 'start'">
		    AND NVL(status,'') != 'CLOSED'
		</if>
	
	    <!-- 운영 상태 -->
	    <if test="status != null and status != ''">
	        AND status = #{status}
	    </if>
	
	    <!-- 승인 상태 -->
	    <if test="approvalStatus != null and approvalStatus != ''">
	        AND approval_status = #{approvalStatus}
	    </if>
	
	    <!-- 정렬 -->
		<choose>

		    <!-- 추천순 -->
		    <when test="sort == 'recommend'">
				ORDER BY				
				    CASE ad_grade
				        WHEN 'PREMIUM' THEN 1
				        WHEN 'GENERAL' THEN 2
				        ELSE 3
				    END,				
				    priority_score DESC,				
				    end_datetime ASC,				
				    approved_at DESC			
			</when>
		
		
		    <!-- 시작 예정 빠른 순 -->
		    <when test="sort == 'start'">
			    ORDER BY  start_datetime ASC
			</when>
		
		
		    <!-- 종료 임박 순 -->
		    <when test="sort == 'end'">
		        ORDER BY
			    CASE
			        WHEN end_datetime >= CURRENT_TIMESTAMP THEN 0
			        ELSE 1
			    END,
			
			    end_datetime ASC
		    </when>
		
		
		    <!-- 예산 높은 순 -->
		    <when test="sort == 'budget'">
		        ORDER BY
			    CASE
			        WHEN total_budget IS NULL THEN 1
			        ELSE 0
			    END,			
			    total_budget DESC
		    </when>
		
		    
		    <!-- 등급 순 -->
		    <when test="sort == 'grade'">
				ORDER BY				
				CASE ad_grade
				    WHEN 'PREMIUM' THEN 1
				    WHEN 'GENERAL' THEN 2
				    ELSE 3
				END,				
				approved_at DESC			
			</when>
		
		    <!-- 최신 등록(승인) 순 -->
		    <otherwise>
		        ORDER BY approved_at DESC
		    </otherwise>
		
		</choose>
	    OFFSET #{offset} ROWS
	    FETCH NEXT #{size} ROWS ONLY
	
	</select>

    <!-- 관리자 목록 개수 -->
    <select id="selectAdminAdvertisementTotalCnt"
        parameterType="com.moit.advertisement.dto.AdvertisementSearchDto"
        resultType="int">

        SELECT COUNT(*)
        FROM advertisements
        WHERE delete_yn = 'N'

        <if test="searchText != null and searchText != ''">
            AND title LIKE '%' || #{searchText} || '%'
        </if>

        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        
        <if test="approvalStatus != null and approvalStatus != ''">
		    AND approval_status = #{approvalStatus}
		</if>

    </select>

    <!-- 내 광고 목록 -->
    <select id="searchMyAdvertisement"
        parameterType="com.moit.advertisement.dto.AdvertisementSearchDto"
        resultType="com.moit.advertisement.dto.AdvertisementDto">

        SELECT *
        FROM advertisements
        WHERE delete_yn = 'N'
          AND advertiser_id = #{advertiserId}

        <if test="searchText != null and searchText != ''">
            AND title LIKE '%' || #{searchText} || '%'
        </if>

        <!-- 정렬 -->
		<choose>

		    <!-- 진행 상태 우선 -->
		    <when test="sort == 'status'">
		        ORDER BY
		        CASE status
		            WHEN 'OPEN' THEN 1
			        WHEN 'PENDING' THEN 2
			        WHEN 'CLOSED' THEN 3
		        END,
		        ad_id DESC
		    </when>
		
		
		    <!-- 시작 예정 빠른 순 -->
		    <when test="sort == 'start'">
			    ORDER BY
			    CASE 
			        WHEN start_datetime >= CURRENT_TIMESTAMP THEN 1
			        ELSE 2
			    END,
			    start_datetime ASC
			</when>
		
		
		    <!-- 종료 임박 순 -->
		    <when test="sort == 'end'">
		        ORDER BY end_datetime ASC
		    </when>
		
		
		    <!-- 예산 높은 순 -->
		    <when test="sort == 'budget'">
		        ORDER BY
			    CASE
			        WHEN total_budget IS NULL THEN 1
			        ELSE 0
			    END,			
			    total_budget DESC
		    </when>
		
		
		    <!-- 최신 등록 -->
		    <otherwise>
		        ORDER BY ad_id DESC
		    </otherwise>
		
		</choose>
        OFFSET #{offset} ROWS
        FETCH NEXT #{size} ROWS ONLY

    </select>

    <!-- 내 광고 목록 개수 -->
    <select id="selectMyAdvertisementTotalCnt"
        parameterType="com.moit.advertisement.dto.AdvertisementSearchDto"
        resultType="int">

        SELECT COUNT(*)
        FROM advertisements
        WHERE delete_yn = 'N'
          AND advertiser_id = #{advertiserId}

        <if test="searchText != null and searchText != ''">
            AND title LIKE '%' || #{searchText} || '%'
        </if>

    </select>

    <!-- 승인 대기 목록 -->
    <select id="searchWaitingList"
	    parameterType="com.moit.advertisement.dto.AdvertisementSearchDto"
	    resultType="com.moit.advertisement.dto.AdvertisementDto">
	
	    SELECT *
	    FROM advertisements
	    WHERE delete_yn = 'N'	
		    <!-- 승인 대기만 -->
		    AND approval_status = 'WAITING'
	
	    <if test="searchText != null and searchText != ''">
	        AND title LIKE '%' || #{searchText} || '%'
	    </if>
	
	    <choose>
	    	<!-- 시작 예정 빠른 순 -->
		    <when test="sort == 'start'">
			    ORDER BY
			    start_datetime ASC
			</when>
		
		    <!-- 예산 높은 순 -->
		    <when test="sort == 'budget'">
		        ORDER BY
			    CASE
			        WHEN total_budget IS NULL THEN 1
			        ELSE 0
			    END,			
			    total_budget DESC
		    </when>
		
		
		    <!-- 최신 등록 -->
		    <otherwise>
		        ORDER BY ad_id DESC
		    </otherwise>
	    </choose>
	    
	    OFFSET #{offset} ROWS
	    FETCH NEXT #{size} ROWS ONLY
	
	</select>

    <!-- 승인 목록 개수 -->
    <select id="selectWaitingTotalCnt"
	    resultType="int">
	
	    SELECT COUNT(*)
	    FROM advertisements
	    WHERE delete_yn = 'N'
	      AND approval_status = 'WAITING'
	
	    <if test="searchText != null and searchText != ''">
	        AND title LIKE '%' || #{searchText} || '%'
	    </if>
	
	</select>

    <!-- 상세 조회 -->
    <select id="selectAdvertisementOne"
        parameterType="int"
        resultType="com.moit.advertisement.dto.AdvertisementDto">

        SELECT *
        FROM advertisements
        WHERE ad_id = #{adId}
          AND delete_yn = 'N'

    </select>

    <!-- 광고 등록 -->
    <insert id="insertAdvertisement">

	    <selectKey
	        keyProperty="adId"
	        resultType="int"
	        order="BEFORE">
	
	        SELECT seq_advertisements.NEXTVAL
	        FROM dual
	
	    </selectKey>
	
	    INSERT INTO advertisements
	    (
	        ad_id,
	        title,
	        content,
	        landing_url,
	        target_age_min,
	        target_age_max,
	        target_gender,
	        device_type,
	        ad_channel,
	        start_datetime,
	        end_datetime,
	        advertiser_id,
	        total_budget,
	        ad_grade,
 			priority_score
	    )
	    VALUES
	    (
	        #{adId},
	        #{title},
	        #{content},
	        #{landingUrl},
	        #{targetAgeMin},
	        #{targetAgeMax},
	        #{targetGender},
	        #{deviceType},
	        #{adChannel},
	        #{startDatetime},
	        #{endDatetime},
	        #{advertiserId},
	        #{totalBudget},
	        #{adGrade},

			 CASE
			    WHEN #{adGrade} = 'PREMIUM'
			    THEN 5
			    ELSE 1
			 END
	    )
	
	</insert>
	
	<!-- 광고 이미지 저장 -->
	<insert id="insertAdvertisementImage">

	    <selectKey
	        keyProperty="imageId"
	        resultType="int"
	        order="BEFORE">
	
	        SELECT seq_advertisement_images.NEXTVAL
	        FROM dual
	
	    </selectKey>
	
	    INSERT INTO advertisement_images
	    (
	        image_id,
	        ad_id,
	        image_url,
	        image_type
	    )
	    VALUES
	    (
	        #{imageId},
	        #{adId},
	        #{imageUrl},
	        #{imageType}
	    )
	
	</insert>
	
	<!-- 광고 이미지 목록 -->
	<select id="selectAdvertisementImageList"
        parameterType="int"
        resultType="com.moit.advertisement.dto.AdvertisementImageDto">

	    SELECT
	        image_id,
	        ad_id,
	        image_type AS imageType,
	        image_url
	    FROM advertisement_images
	    WHERE ad_id = #{adId}
	    ORDER BY image_id
	
	</select>

       <!-- 광고 수정 -->
    <update id="updateAdvertisement"
	    parameterType="com.moit.advertisement.dto.AdvertisementDto">
	
	    UPDATE advertisements
	    SET
	        title = #{title},
	        content = #{content},
	        landing_url = #{landingUrl},
	        target_age_min = #{targetAgeMin},
	        target_age_max = #{targetAgeMax},
	        target_gender = #{targetGender},
	        device_type = #{deviceType},
	        ad_channel = #{adChannel},
	        start_datetime = #{startDatetime},
	        end_datetime = #{endDatetime},
	        total_budget = #{totalBudget},
	        
	        status = 'PENDING',
	        approval_status = 'WAITING',
	        approved_by = NULL,
	        approved_at = NULL,
	        reject_reason = NULL,
        
	        updated_at = CURRENT_TIMESTAMP
	        
	    WHERE ad_id = #{adId}
	      AND advertiser_id = #{advertiserId}
	      AND delete_yn = 'N'
	
	</update>

    <!-- 광고 삭제 -->
    <update id="deleteAdvertisement"
        parameterType="int">

        UPDATE advertisements
        SET
            delete_yn = 'Y',
            updated_at = CURRENT_TIMESTAMP
        WHERE ad_id = #{adId}

    </update>
    
    <!-- 광고 이미지 삭제 -->
    <delete id="deleteAdvertisementImages"
        parameterType="int">

	    DELETE
	    FROM advertisement_images
	    WHERE ad_id = #{adId}
	
	</delete>

    <!-- 승인 상태 변경 -->
    <!-- 승인 -->
	<update id="approveAd"
			parameterType="com.moit.advertisement.dto.AdvertisementDto">
	    UPDATE advertisements
	    SET
	        approval_status = 'APPROVED',
        	status = 'PENDING',
	        approved_by = #{approvedBy},
	        approved_at = CURRENT_TIMESTAMP,
	        reject_reason = NULL,
	        updated_at = CURRENT_TIMESTAMP
	    WHERE ad_id = #{adId}
	</update>
	
	<!-- 반려 -->
	<update id="rejectAd"
			parameterType="com.moit.advertisement.dto.AdvertisementDto">
	    UPDATE advertisements
	    SET
	        approval_status = 'REJECTED',
	        approved_by = #{approvedBy},
	        approved_at = NULL,
	        reject_reason = #{rejectReason, jdbcType=VARCHAR},
	        updated_at = CURRENT_TIMESTAMP
	    WHERE ad_id = #{adId}
	</update>

    <!-- 광고 상태 변경 -->
    <update id="updateAdvertisementStatus"
	    parameterType="com.moit.advertisement.dto.AdvertisementDto">
	
	    UPDATE advertisements
	    SET
	        status = #{status},
	        status_updated_by = #{statusUpdatedBy},
	        status_updated_at = CURRENT_TIMESTAMP,
	        updated_at = CURRENT_TIMESTAMP
	    WHERE ad_id = #{adId}
	
	</update>
	
	<!-- 시작 광고 오픈 -->
	<update id="updatePendingToOpen">

	    UPDATE advertisements
	    SET status = 'OPEN'
	    WHERE delete_yn = 'N'
	      AND approval_status = 'APPROVED'
	      AND status = 'PENDING'
	      AND CURRENT_TIMESTAMP BETWEEN start_datetime AND end_datetime
      	  AND status != 'OPEN'
	
	</update>
	
	<!-- 종료 광고 클로즈 -->
	<update id="updateOpenToClosed">

	    UPDATE advertisements
	    SET status = 'CLOSED'
	    WHERE delete_yn = 'N'
	      AND approval_status = 'APPROVED'
	      AND CURRENT_TIMESTAMP >= end_datetime
	      AND status != 'CLOSED'
	
	</update>
	
	<!-- 광고 기간 변경 -->
	<update id="updatePeriod">
	    UPDATE advertisements
	    SET start_datetime = #{start},
	        end_datetime = #{end},
	        updated_at = SYSDATE
	    WHERE ad_id = #{adId}
	</update>

    <!-- 노출 수 증가 -->
    <update id="updateImpressions"
        parameterType="int">

        UPDATE advertisements
        SET impressions = impressions + 1
        WHERE ad_id = #{adId}

    </update>

    <!-- 클릭 수 증가 -->
    <update id="updateAdvertisementClick"
        parameterType="int">

        UPDATE advertisements
        SET clicks = clicks + 1
        WHERE ad_id = #{adId}

    </update>
    
    
    <resultMap id="AdvertisementWithImageMap"
           type="com.moit.advertisement.dto.AdvertisementDto">

	    <id property="adId" column="ad_id"/>
	
	    <result property="title" column="title"/>
	    <result property="content" column="content"/>
	    <result property="landingUrl" column="landing_url"/>
	    <result property="adGrade" column="ad_grade"/>
	
	    <collection property="imageList"
	                ofType="com.moit.advertisement.dto.AdvertisementImageDto">
	
	        <id property="imageId" column="image_id"/>
	        <result property="imageType" column="image_type"/>
	        <result property="imageUrl" column="image_url"/>
	
	    </collection>
	
	</resultMap>

   <!-- 위치별 광고 조회 -->
	<select id="selectTopAdvertisement"
		parameterType="map"
        resultMap="AdvertisementWithImageMap">

	    SELECT 
	        a.*,
	        ai.image_id,
	        ai.image_type,
	        ai.image_url
	
	    FROM advertisements a
	
	    INNER JOIN advertisement_images ai
	        ON a.ad_id = ai.ad_id
	       AND ai.image_type = #{position}
	
	    WHERE a.delete_yn = 'N'
	      AND a.approval_status = 'APPROVED'
	      AND a.status = 'OPEN'
	      AND CURRENT_TIMESTAMP BETWEEN a.start_datetime 
	                                AND a.end_datetime
	      ORDER BY
	        (
			    a.priority_score
			    -
			    NVL(
			        (
			            SELECT
			                CASE
			                    WHEN COUNT(*) >= 20 THEN 5
			                    WHEN COUNT(*) >= 10 THEN 3
			                    WHEN COUNT(*) >= 4 THEN 1
			                    ELSE 0
			                END
			
			            FROM advertisement_impression_log ail
			
			            WHERE ail.ad_id = a.ad_id
			
			            AND ail.viewed_at >= SYSDATE - 1
			
			            AND (
			                ail.member_id = #{memberId, jdbcType=NUMERIC}
			                OR (
			                    #{memberId, jdbcType=NUMERIC} IS NULL
			                    AND ail.session_id = #{sessionId}
			                )
			            )
			
			        ),0
			    )
			) DESC,
	        DBMS_RANDOM.VALUE
   
       FETCH FIRST 1 ROW ONLY
	
	</select>
	
	
    <!-- 전체 광고 수 -->
    <select id="selectTotalAdvertisementCnt"
        resultType="int">

        SELECT COUNT(*)
        FROM advertisements
        WHERE delete_yn = 'N'
        AND approval_status = 'APPROVED'

    </select>
    
    <!-- 광고 우선도(일반/프리미엄) 설정 -->
    <update id="updateAdGrade">

	    UPDATE advertisements	
	    SET
			 ad_grade = #{adGrade},
			 priority_score =
			 CASE
			   WHEN #{adGrade}='PREMIUM'
			   THEN 5
			   ELSE 1
			 END,
			 updated_at=CURRENT_TIMESTAMP
	
	    WHERE ad_id = #{adId}
	
	</update>
    
    <!-- 광고 우선도 갱신 -->
	<update id="updatePriorityScore">
	
	    UPDATE advertisements
	
	    SET priority_score =
	    CASE
	
	        <!-- 프리미엄 | 기본값 5, 최댓값 10 -->
	        WHEN ad_grade = 'PREMIUM'
	        THEN LEAST(
	            
	            5
	            +
	            CASE
	                WHEN impressions >= 100
	                AND (clicks * 100.0 / DECODE(impressions, 0, 1, impressions)) >= 5
	                THEN 3
	
	                WHEN impressions >= 100
	                AND (clicks * 100.0 / DECODE(impressions, 0, 1, impressions)) >= 3
	                THEN 2
	
	                WHEN impressions >= 100
	                AND (clicks * 100.0 / DECODE(impressions, 0, 1, impressions)) >= 1
	                THEN 1
	
	                ELSE 0
	            END	
	            +	
	            CASE
	                WHEN clicks >= 1000 THEN 2
	                WHEN clicks >= 500 THEN 1
	                ELSE 0
	            END
	
	        ,10)
	
	
	        <!-- 일반 | 기본값 1, 최댓값 6 -->
	        ELSE LEAST(
	
	            1	
	            +	
	            CASE
	                WHEN impressions >= 100
	                AND (clicks * 100.0 / DECODE(impressions, 0, 1, impressions)) >= 5
	                THEN 3
	
	                WHEN impressions >= 100
	                AND (clicks * 100.0 / DECODE(impressions, 0, 1, impressions)) >= 3
	                THEN 2
	
	                WHEN impressions >= 100
	                AND (clicks * 100.0 / DECODE(impressions, 0, 1, impressions)) >= 1
	                THEN 1
	
	                ELSE 0
	            END	
	            +	
	            CASE
	                WHEN clicks >= 1000 THEN 2
	                WHEN clicks >= 500 THEN 1
	                ELSE 0
	            END
	
	        ,6)
	
	    END
	
	    WHERE delete_yn = 'N'
	      AND approval_status = 'APPROVED'

	</update>

    <!-- OPEN 광고 수 -->
    <select id="selectOpenAdvertisementCnt"
	    resultType="int">
	
	    SELECT COUNT(*)
	    FROM advertisements
	    WHERE delete_yn = 'N'
	      AND approval_status = 'APPROVED'
	      AND status = 'OPEN'
	
	</select>

    <!-- PENDING 광고 수 -->
    <select id="selectPendingAdvertisementCnt"
	    resultType="int">
	
	    SELECT COUNT(*)
	    FROM advertisements
	    WHERE delete_yn = 'N'
	      AND approval_status = 'APPROVED'
	      AND status = 'PENDING'
	
	</select>

    <!-- CLOSED 광고 수 -->
    <select id="selectClosedAdvertisementCnt"
	    resultType="int">
	
	    SELECT COUNT(*)
	    FROM advertisements
	    WHERE delete_yn = 'N'
	      AND approval_status = 'APPROVED'
	      AND status = 'CLOSED'
	
	</select>
	
	<!-- 클릭 로그 -->
	<insert id="insertClickLog">

	    INSERT INTO advertisement_click_log
		(
		    click_id,
		    ad_id,
		    member_id,
		    device_type,
		    ip_address,
		    session_id,
		    referrer,
    		position
		)
		VALUES
		(
		    seq_advertisement_click.NEXTVAL,
		    #{adId},
		    #{memberId, jdbcType=NUMERIC},
		    #{deviceType},
		    #{ipAddress},
		    #{sessionId},
		    #{referrer},
    		#{position}
		)
	
	</insert>
	
	<!-- 클릭 확인 (동일광고 한해 1시간에 한번만 클릭 인정) -->
	<select id="checkDuplicateClick"
	        resultType="int">
	
	    SELECT COUNT(*)
	
	    FROM advertisement_click_log
	
	    WHERE ad_id = #{adId}
	
	    AND clicked_at >= SYSDATE - (1/24)
	
	    <choose>
	
	        <when test="memberId != null">
	            AND member_id = #{memberId}
	        </when>
	
	        <otherwise>
	            AND ip_address = #{clickIp}
	        </otherwise>
	
	    </choose>
	
	</select>
	
	<!-- 클릭 증가시 사용자 포인트 증가 -->
	<update id="updateMemberPoint">

	    UPDATE member_info
	
	    SET point = point + 10
	
	    WHERE member_id = #{memberId}
	
	</update>
	<!-- 최근 한시간 내에 지급 여부 확인 -->
	<select id="checkAdvertisementPoint" resultType="int">

	    SELECT COUNT(*)
	    FROM point_history
	    WHERE member_id = #{memberId}
	      AND point_reason = 'ADVERTISEMENT_CLICK'
	      AND created_at >= SYSDATE - (1/24)
	
	</select>
	<!-- 포인트 이력 저장 -->
	<insert id="insertPointHistory">

	    INSERT INTO point_history
	    (
	        history_id,
	        member_id,
	        point_pm,
	        point_type,
	        point_reason
	    )
	    VALUES
	    (
	        history_seq.NEXTVAL,
	        #{memberId},
	        10,
	        'EARN',
	        'ADVERTISEMENT_CLICK'
	    )
	
	</insert>
	
	<!-- 노출 확인 (동일광고 한해 30분동안 한번 노출 인정) -->
	<select id="checkDuplicateImpression"
	        resultType="int">
	
	    SELECT COUNT(*)
	
	    FROM advertisement_impression_log
	
	    WHERE ad_id = #{adId}
	
	    AND viewed_at >= SYSTIMESTAMP - INTERVAL '30' MINUTE
	
	
	    <choose>
	
	        <when test="memberId != null">
	
	            AND member_id = #{memberId}
	
	        </when>
	
	        <otherwise>
	
	            AND session_id = #{sessionId}
	
	        </otherwise>
	
	    </choose>
	
	</select>
	
	<!-- 노출 로그 추가 -->
	<insert id="insertImpressionLog">

	    INSERT INTO advertisement_impression_log
	    (
	        impression_id,
	        ad_id,
	        member_id,
	        device_type,
	        ip_address,
	        session_id,
    		position
	    )
	    VALUES
	    (
	        seq_advertisement_impression.NEXTVAL,
	        #{adId},
	        #{memberId, jdbcType=NUMERIC},
	        #{deviceType},
	        #{ipAddress},
	        #{sessionId},
    		#{position}
	    )
	
	</insert>

	<!-- 광고 일일 통계 생성 -->
	<insert id="insertDailyStatistics">
	
	    INSERT INTO advertisement_daily_statistics
	    (
	        stat_id,
	        ad_id,
	        stat_date,
	        impressions,
	        clicks,
	        ctr,
	        fatigue_score
	    )
	
	    SELECT
	        seq_advertisement_statistics.NEXTVAL,
	        a.ad_id,
	        TRUNC(SYSDATE)-1,
	
	        NVL(i.impressions,0),
	
	        NVL(c.clicks,0),
	
	        NVL(
			    ROUND(
			        NVL(c.clicks,0)
			        /
			        NULLIF(i.impressions,0)
			        *100
			    ,2)
			,0),
	
	        CASE
	            WHEN NVL(i.impressions,0) >= 10000
	             AND ROUND(
	                    NVL(c.clicks,0)
	                    /
	                    NULLIF(i.impressions,0)
	                    *100
	                 ,2) &lt; 1
	            THEN 80
	
	            WHEN NVL(i.impressions,0) >= 5000
	             AND ROUND(
	                    NVL(c.clicks,0)
	                    /
	                    NULLIF(i.impressions,0)
	                    *100
	                 ,2) &lt; 3
	            THEN 50
	
	            ELSE 10
	        END
	
	
	    FROM advertisements a
	
	
	    LEFT JOIN
	    (
	        SELECT
	            ad_id,
	            COUNT(*) impressions
	
	        FROM advertisement_impression_log
	
	        WHERE viewed_at >= TRUNC(SYSDATE)-1
	        AND viewed_at &lt; TRUNC(SYSDATE)
	
	        GROUP BY ad_id
	
	    ) i
	
	    ON a.ad_id = i.ad_id
	
	
	
	    LEFT JOIN
	    (
	        SELECT
	            ad_id,
	            COUNT(*) clicks
	
	        FROM advertisement_click_log
	
	        WHERE clicked_at >= TRUNC(SYSDATE)-1
	        AND clicked_at &lt; TRUNC(SYSDATE)
	
	        GROUP BY ad_id
	
	    ) c
	
	    ON a.ad_id = c.ad_id
	
		WHERE NOT EXISTS (
		    SELECT 1
		    FROM advertisement_daily_statistics s
		    WHERE s.ad_id = a.ad_id
		      AND s.stat_date = TRUNC(SYSDATE)-1
		)
	
	</insert>
	
	<!-- 광고 통계 차트  -->
	<!-- 총 통계 차트  -->
	<select id="selectSummary"
	        resultType="com.moit.advertisement.dto.AdvertisementChartDto">
	
		WITH total AS (
		    SELECT
		        NVL(SUM(impressions),0) imp,
		        NVL(SUM(clicks),0) click
		    FROM advertisement_daily_statistics
		),
		today AS (
		    SELECT
		        NVL(SUM(impressions),0) imp,
		        NVL(SUM(clicks),0) click
		    FROM advertisement_daily_statistics
		    WHERE stat_date = TRUNC(SYSDATE)-1
		),
		yesterday AS (
		    SELECT
		        NVL(SUM(impressions),0) imp,
		        NVL(SUM(clicks),0) click
		    FROM advertisement_daily_statistics
		    WHERE stat_date = TRUNC(SYSDATE)-2
		)
		
		SELECT
		    (SELECT COUNT(*) FROM advertisements) totalAd,
		
		    -- 누적 통계
		    total.imp totalImp,
		    total.click totalClick,
		    NVL(ROUND(total.click / NULLIF(total.imp,0) * 100,2),0) avgCtr,
		
		    -- 전일 대비 증감률
		    NVL(ROUND((today.imp-yesterday.imp)
		        / NULLIF(yesterday.imp,0) *100,2),0) impChange,
		
		    NVL(ROUND((today.click-yesterday.click)
		        / NULLIF(yesterday.click,0) *100,2),0) clickChange,
		
		    NVL(ROUND(
		        (today.click / NULLIF(today.imp,0) *100)
		        -
		        (yesterday.click / NULLIF(yesterday.imp,0) *100)
		    ,2),0) ctrChange
		
		FROM total, today, yesterday
	
	</select>
	
	<!-- 일일통계 차트  -->
	<select id="selectDailyChart"
        resultType="com.moit.advertisement.dto.AdvertisementChartDto">

	    SELECT
		    TO_CHAR(stat_date,'MM-DD') AS statDate,
	        SUM(impressions) AS impressions,	
	        SUM(clicks) AS clicks	
		FROM advertisement_daily_statistics		
		WHERE stat_date >= TRUNC(SYSDATE)-14
	
	    GROUP BY stat_date	
	    ORDER BY stat_date
	
	</select>
	
	<!-- 광고 통계 차트 상위 5개 -->
	<select id="selectTopCtrChart"
	        resultType="com.moit.advertisement.dto.AdvertisementChartDto">
	
	    SELECT *
	    FROM (	
	        SELECT	
	        	a.ad_id,
	            a.title,	
	            COUNT(DISTINCT c.click_id) AS click_count,
        		COUNT(DISTINCT i.impression_id) AS impression_count,
	            ROUND(
	                COUNT(DISTINCT c.click_id)
	                /
	                NULLIF(COUNT(DISTINCT i.impression_id),0)
	                *100
	            ,2) AS ctr	
	        FROM advertisements a
	
	        LEFT JOIN advertisement_impression_log i
		        ON a.ad_id = i.ad_id	
		        AND i.position IS NOT NULL	
		    LEFT JOIN advertisement_click_log c
		        ON a.ad_id = c.ad_id
	        GROUP BY 
	        	a.ad_id,
	        	a.title	
	        HAVING COUNT(DISTINCT i.impression_id) >= 10
	        
	        ORDER BY ctr DESC	
	    )	
	    WHERE ROWNUM &lt;= 5
	
	</select>
	
	<!-- 광고 등급비율 -->
	<select id="selectGradeChart"
	        resultType="com.moit.advertisement.dto.AdvertisementChartDto">	
	    SELECT	
	        ad_grade,
	        COUNT(*) count	
	    FROM advertisements	
	    GROUP BY ad_grade	
	    ORDER BY ad_grade	
	</select>
	
	<!-- 광고 연장비율 -->
	<select id="selectExtensionRate"
	        resultType="double">
	
	    SELECT
	        ROUND(
	            SUM(
	                CASE 
	                    WHEN extension_status='APPROVED'
	                    THEN 1 
	                    ELSE 0 
	                END
	            )
	            /
	            NULLIF(COUNT(*),0)
	            * 100
	        ,2)
	    FROM advertisements
	    WHERE delete_yn='N'
	
	</select>
	
	<!-- 광고 위치별 노출 차트 -->
	<select id="selectPositionChart"
	        resultType="com.moit.advertisement.dto.AdvertisementChartDto">	
	    SELECT
	        position,
	        COUNT(*) AS impressions	
	    FROM advertisement_impression_log
	    WHERE position IS NOT NULL	
	    GROUP BY position	
	</select>
	
	<!-- 광고 위치별 CTR 차트 -->
	<select id="selectPositionCtrChart"
	        resultType="com.moit.advertisement.dto.AdvertisementChartDto">
	
	    SELECT
	        i.position,
	        i.impressions,
	        NVL(c.clicks, 0) AS clicks,
	        ROUND(
	            NVL(c.clicks, 0)
	            / NULLIF(i.impressions, 0)
	            * 100
	        , 2) AS ctr
	    FROM
	    (
	        SELECT
	            position,
	            COUNT(*) AS impressions
	        FROM advertisement_impression_log
	        WHERE position IS NOT NULL
	        GROUP BY position
	    ) i
	    LEFT JOIN
	    (
	        SELECT
	            position,
	            COUNT(*) AS clicks
	        FROM advertisement_click_log
	        WHERE position IS NOT NULL
	        GROUP BY position
	    ) c
	        ON i.position = c.position
	
	</select>
<!-- ====== 피로도 ===== -->	
	<!-- 피로도 -->
	<!-- <select id="selectAdvertisementStatistics"
	        parameterType="int"
	        resultType="com.moit.advertisement.dto.AdvertisementDto">	
			SELECT
			    a.ad_id,
			    a.title,			
			    /* 총 노출 */
			    (
			        SELECT COUNT(*)
			        FROM advertisement_impression_log i
			        WHERE i.ad_id = a.ad_id
			    ) AS impressions,			
			    /* 총 클릭 */
			    (
			        SELECT COUNT(*)
			        FROM advertisement_click_log c
			        WHERE c.ad_id = a.ad_id
			    ) AS clicks,			
			    /* 전채 CTR */
			    ROUND(
			        (
			            SELECT COUNT(*)
			            FROM advertisement_click_log c
			            WHERE c.ad_id = a.ad_id
			        )
			        /
			        NULLIF(
			            (
			                SELECT COUNT(*)
			                FROM advertisement_impression_log i
			                WHERE i.ad_id = a.ad_id
			            ),
			        0)
			    *100,2) AS ctr,
			     /* 최근 7일 CTR */
		        ROUND(
		            (
		                SELECT COUNT(*)
		                FROM advertisement_click_log c
		                WHERE c.ad_id = a.ad_id
		                  AND c.clicked_at >= SYSDATE - 7
		            )
		            /
		            NULLIF(
		                (
		                    SELECT COUNT(*)
		                    FROM advertisement_impression_log i
		                    WHERE i.ad_id = a.ad_id
		                      AND i.viewed_at >= SYSDATE - 7
		                ),
		                0)
		          * 100, 2
		        ) AS recentCtr,
			    /* 이전 7일 CTR */
		        ROUND(
		            (
		                SELECT COUNT(*)
		                FROM advertisement_click_log c
		                WHERE c.ad_id = a.ad_id
		                  AND c.clicked_at >= SYSDATE - 14
		                  AND c.clicked_at &lt; SYSDATE - 7
		            )
		            /
		            NULLIF(
		                (
		                    SELECT COUNT(*)
		                    FROM advertisement_impression_log i
		                    WHERE i.ad_id = a.ad_id
		                      AND i.viewed_at >= SYSDATE - 14
		                      AND i.viewed_at &lt; SYSDATE - 7
		                ),
		                0
		            )
		            * 100,
		            2
		        ) AS previousCtr,			
			    /* 반복 노출률 */
		        ROUND(
		            (
		                SELECT COUNT(*)
		                FROM advertisement_impression_log i
		                WHERE i.ad_id = a.ad_id
		                	AND i.viewed_at >= SYSDATE - 14
		            )
		            /
		            NULLIF(
		                (
		                    SELECT COUNT(DISTINCT NVL(TO_CHAR(i.member_id), i.session_id))
		                    FROM advertisement_impression_log i
		                    WHERE i.ad_id = a.ad_id
		                    	AND i.viewed_at >= SYSDATE - 14
		                ), 0
		            ), 2
		        ) AS repeatRate
			FROM advertisements a
			WHERE a.ad_id = #{adId}	
	</select> -->
	<select id="selectAdvertisementStatistics"
	        parameterType="int"
	        resultType="com.moit.advertisement.dto.AdvertisementDto">
	
	    SELECT
	        a.ad_id,
	        a.title,
	
	        /* 총 노출 */
	        a.impressions AS impressions,
	
	        /* 총 클릭 */
	        a.clicks AS clicks,
	
	        /* 전체 CTR */
	        ROUND(
	            a.clicks / NULLIF(a.impressions, 0) * 100,
	            2
	        ) AS ctr,
	
	        /* 최근 CTR (발표용) */
	        ROUND(
	            a.clicks / NULLIF(a.impressions, 0) * 100,
	            2
	        ) AS recentCtr,
	
	        /* 이전 CTR (발표용 - 최근보다 약간 낮게 표시) */
	        GREATEST(
	            ROUND(
	                (a.clicks / NULLIF(a.impressions, 0) * 100) - DBMS_RANDOM.VALUE(0.3, 1.5),
	                2
	            ),
	            0
	        ) AS previousCtr,
	
	        /* 반복 노출률 (발표용) */
	        ROUND(
	            LEAST(
	                (a.impressions / 300) * 100,
	                100
	            ),
	            2
	        ) AS repeatRate
	
	    FROM advertisements a
	    WHERE a.ad_id = #{adId}
	
	</select>


	<!-- 최근 14일 ctr -->
	<select id="selectRecentCtr" resultType="double">	
		SELECT
			NVL(
			ROUND(
			COUNT(DISTINCT c.click_id)
			/
			NULLIF(COUNT(DISTINCT i.impression_id),0)
			*100
			,2)
			,0)
		FROM advertisement_impression_log i
		
		LEFT JOIN advertisement_click_log c
		ON i.impression_id = c.impression_id
		
		WHERE i.ad_id=#{adId}
		AND i.created_at >= SYSDATE-14	
	</select>
	<!-- 이전 14일 ctr -->
	<select id="selectPreviousCtr" resultType="double">
		SELECT
			NVL(
			ROUND(
			COUNT(DISTINCT c.click_id)
			/
			NULLIF(COUNT(DISTINCT i.impression_id),0)
			*100
			,2)
			,0)
		FROM advertisement_impression_log i
		
		LEFT JOIN advertisement_click_log c
		ON i.impression_id = c.impression_id
		
		WHERE i.ad_id=#{adId}
		AND i.created_at BETWEEN SYSDATE-28 AND SYSDATE-14	
	</select>
	<!-- 반복 노출률 -->
	<select id="selectRepeatRate" resultType="double">
		SELECT		
			ROUND(			
				(
					COUNT(*)					
					-					
					COUNT(
					DISTINCT
					NVL(TO_CHAR(member_id),ip_address)
				)				
			)			
			/			
			NULLIF(COUNT(*),0)			
			*100			
			,2)		
		FROM advertisement_impression_log		
		WHERE ad_id=#{adId}		
	</select>
	
<!-- =========== ai 요약 ============= -->
	<!-- 요약 저장 -->
	<insert id="insertAiSummary">

	    INSERT INTO advertisement_ai_summary
	    VALUES(
	        seq_advertisement_ai_summary.NEXTVAL,
	        #{summary},
	        SYSDATE
	    )
	
	</insert>
	
	<!-- 요약 조회 -->
	<select id="selectLatestAiSummary"
	        resultType="com.moit.advertisement.dto.DashboardAiDto">
	
	    SELECT *
	    FROM advertisement_ai_summary
	    ORDER BY created_at DESC
	    FETCH FIRST 1 ROWS ONLY
	
	</select>

	
<!-- ==================================== -->	
	<!-- 광고 만료예정 찾기 30일 -->
	<select id="selectReminder30List"
	        resultType="com.moit.advertisement.dto.AdvertisementDto">
	
		SELECT
		    a.ad_id,
		    a.title,
		    a.end_datetime,
		    m.nickname AS member_name,
		    m.email
		FROM advertisements a
		JOIN members m
		    ON a.advertiser_id = m.member_id
		WHERE a.approval_status = 'APPROVED'
		  AND a.status = 'OPEN'
		  AND a.delete_yn = 'N'
		  AND a.reminder_30d_sent = 'N'
		  AND a.extension_status='NONE'
		  AND a.end_datetime > CURRENT_TIMESTAMP
		  AND a.end_datetime >= TRUNC(SYSDATE + 30)
		  AND a.end_datetime &lt; TRUNC(SYSDATE + 30) + 1
	
	</select>
	
	<!-- 광고 만료예정 찾기 14일 -->
	<select id="selectReminder14List"
	        resultType="com.moit.advertisement.dto.AdvertisementDto">
	
		SELECT
		    a.ad_id,
		    a.title,
		    a.end_datetime,
		    m.nickname AS member_name,
		    m.email
		FROM advertisements a
		JOIN members m
		    ON a.advertiser_id = m.member_id
		WHERE a.approval_status = 'APPROVED'
		  AND a.status = 'OPEN'
		  AND a.delete_yn = 'N'
		  AND a.reminder_14d_sent = 'N'
		  AND a.extension_status='NONE'
		  AND a.end_datetime >= TRUNC(SYSDATE + 14)
		  AND a.end_datetime &lt; TRUNC(SYSDATE + 14) + 1
	
	</select>
	
	<!-- 광고 만료메일 발송시 상태변경 -->
	<update id="updateReminder30Sent">

		UPDATE advertisements
		SET reminder_30d_sent='Y',
        	updated_at=CURRENT_TIMESTAMP
		WHERE ad_id=#{adId}
	
	</update>
	
	<update id="updateReminder14Sent">

		UPDATE advertisements
		SET reminder_14d_sent='Y',
        	updated_at=CURRENT_TIMESTAMP
		WHERE ad_id=#{adId}
	
	</update>
	
	<!-- 연장신청 광고 조회 -->
	<select id="selectExtensionList"
	        resultType="com.moit.advertisement.dto.AdvertisementDto">
	
	    SELECT
	        a.ad_id,
	        a.title,
	        a.end_datetime,
    		a.extension_request_end_datetime,
        	a.extension_status,
	        a.updated_at,
	        m.nickname,
	        m.email
	
	    FROM advertisements a
	
	    JOIN members m
	        ON a.advertiser_id = m.member_id
	
	    WHERE a.delete_yn='N'
			  AND a.extension_status='WAITING'
	
	    ORDER BY a.updated_at DESC
	
	</select>
	
	<!-- 연장 신청 (1회만) -->
	<update id="requestExtension">

		UPDATE advertisements		
		SET		
			extension_request_end_datetime =
			#{extensionRequestEndDatetime},			
			extension_status='WAITING',			
			updated_at=CURRENT_TIMESTAMP
				
		WHERE ad_id=#{adId}		
			AND advertiser_id=#{advertiserId}			
			AND delete_yn='N'			
			AND extension_status='NONE'	
			
	</update>
	<!-- 연장 승인 -->
	<update id="updateExtensionApprove">

		UPDATE advertisements
		
		SET
		    end_datetime =
			extension_request_end_datetime,					
			extension_request_end_datetime=NULL,			
			extension_status='APPROVED',			
			updated_at=CURRENT_TIMESTAMP
		
		WHERE ad_id=#{adId}
			AND extension_status='WAITING'
			AND status='OPEN'
	
	</update>

</mapper>