<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moit.meetup.dao.MeetupMapper">
	<!-- SQL	XML에서 작성
	<	&lt;
	<=	&lt;=
	>	&gt; (생략 가능한 경우도 많음)
	>=	&gt;= -->
	
	<!-- meetup 단건조회 - 관리자/사용자  -->
	<select id="findAllMeetupBy" parameterType="MeetupSearchDto" resultType="MeetupDto">
		SELECT A.*,
			   C.total_participants, <!-- 총 참가자 수 -->
			   B.nickname,
			   
			   CASE 
			   	WHEN A.status = 'RECRUITING' THEN '모집중'
			   	WHEN A.status = 'CLOSED' THEN '모집마감'
			   END AS status_name,
			   D.name AS sigungu_name,
			   E.name AS sido_name,
			   TO_CHAR(A.meetup_at, 'YYYY.MM.DD') AS formatted_meetup_at,
			   F.category_name,
			   <!-- 좋아요 수 추가-->
			   CASE
				WHEN H.member_id IS NULL THEN 0
				ELSE 1
			   END AS has_like,
		   	   I.like_cnt,
		   	   j.image_path
		FROM meetups A
		LEFT JOIN members B ON B.member_id = A.member_id
		LEFT JOIN (SELECT meetup_id,
		                  COUNT(*) AS total_participants
				   FROM meetup_applications
				   WHERE 1=1
				   AND status ='APPROVED' <!-- 승인된 참가자만 카운트 -->
				   AND delete_yn = 'N'
				   GROUP BY meetup_id
				  ) C ON C.meetup_id = A.meetup_id
				  
		LEFT JOIN sigungus 	 D ON D.sigungu_id = A.sigungu_id
		LEFT JOIN sidos 	 E ON E.sido_id = D.sido_id 
		LEFT JOIN categories F ON F.category_id = A.category_id
		LEFT JOIN categories G ON G.category_id = F.parent_id
		LEFT JOIN meetup_likes H ON H.meetup_id = A.meetup_id AND H.member_id = #{memberId, jdbcType=INTEGER}
		LEFT JOIN (SELECT COUNT(meetup_id) as like_cnt, 
 						  	meetup_id 
 				     FROM meetup_likes 
 				    GROUP BY meetup_id
 				  ) I ON I.meetup_id = A.meetup_id
		<!-- 이미지 1장만 추출하도록 서브쿼리 -->
		LEFT JOIN (
		    SELECT meetup_id, image_path
		    FROM (
		        SELECT mi.meetup_id, 
		               i.image_path,
		               ROW_NUMBER() OVER (PARTITION BY mi.meetup_id ORDER BY mi.image_id ASC) as rn
		        FROM MEETUP_IMAGES mi  
		        JOIN IMAGES i ON mi.image_id = i.image_id
		    )
		    WHERE rn = 1
		) J ON J.meetup_id = A.meetup_id
		WHERE A.delete_yn = 'N'
		  AND A.status IN ( 'RECRUITING', 'CLOSED')
		<if test="status != null and status != ''">
			AND A.status = #{status}
		</if>
		<if test="searchType == 'title' and adminSearchText != null and adminSearchText != ''">
			AND A.title LIKE '%' || #{adminSearchText} || '%'
		</if>
		<if test="searchType == 'name' and adminSearchText != null and adminSearchText != ''">
			AND B.nickname LIKE'%' || #{adminSearchText} || '%'
		</if>
		<if test="searchText != null and searchText != ''">
		      AND A.title LIKE '%' || #{searchText} || '%'
		</if>		
		
		<if test="sidoId != null and sidoId != 0">
		        AND E.sido_id = #{sidoId}
		</if>  
		
		<if test="categoryId != null and categoryId != 0">
		        AND G.category_id = #{categoryId}
		</if> 		
				
		 ORDER BY
		<choose>
			<when test="orderType == 'createAt' and orderType != ''"> 
				A.created_at DESC
			</when>
			<when test="orderType == 'like' and orderType != ''">
				NVL(I.like_cnt,0) DESC
			</when>
			<when test="orderType == 'meetupAt' and orderType != ''">
			    CASE WHEN A.status = 'CLOSED' THEN 1 ELSE 0 END ASC,
			    A.meetup_at ASC
			</when>
	 		<otherwise>
				A.created_at DESC
			</otherwise>
		</choose>		
		OFFSET #{start} ROWS FETCH NEXT #{end} ROWS ONLY
	</select> 	
	<select id="findAllMeetupCountBy" parameterType="MeetupSearchDto" resultType="int">
		SELECT COUNT(*)
		FROM meetups A
		LEFT JOIN members B ON B.member_id = A.member_id
		LEFT JOIN (SELECT meetup_id,
		                  COUNT(*) AS total_participants
				   FROM meetup_applications
				   WHERE 1=1
				   AND status ='APPROVED'
				   AND delete_yn = 'N'
				   GROUP BY meetup_id
				  ) C ON C.meetup_id = A.meetup_id
				  
		LEFT JOIN sigungus 	 D ON D.sigungu_id = A.sigungu_id
		LEFT JOIN sidos 	 E ON E.sido_id = D.sido_id 
		LEFT JOIN categories F ON F.category_id = A.category_id
		LEFT JOIN categories G ON G.category_id = F.parent_id
		LEFT JOIN meetup_likes H ON H.meetup_id = A.meetup_id AND H.member_id = #{memberId, jdbcType=INTEGER}			  
		LEFT OUTER JOIN (SELECT COUNT(meetup_id) as like_cnt, 
	  						  	meetup_id 
	  				     FROM meetup_likes 
	  				    GROUP BY meetup_id
	  				  ) I ON I.meetup_id = A.meetup_id					  
		WHERE A.delete_yn = 'N'
		  AND A.status IN ( 'RECRUITING', 'CLOSED')
		<if test="status != null and status != ''">
			AND A.status = #{status}
		</if>
		<if test="searchType == 'title' and adminSearchText != null and adminSearchText != ''">
			AND A.title LIKE '%' || #{adminSearchText} || '%'
		</if>
		<if test="searchType == 'name' and adminSearchText != null and adminSearchText != ''">
			AND B.nickname LIKE'%' || #{adminSearchText} || '%'
		</if>
		<if test="searchText != null and searchText != ''">
		      AND A.title LIKE '%' || #{searchText} || '%'
		</if>
		<if test="sidoId != null and sidoId != 0">
		        AND E.sido_id = #{sidoId}
		</if>  		
		<if test="categoryId != null and categoryId != 0">
		        AND G.category_id = #{categoryId}
		</if> 			
	</select> 	  		

	<!-- 관리자 통계 -->
	<select id="findAdminMeetupStatusSummary" resultType="AdminMeetupStatusSummaryDto">
		SELECT COUNT(*) AS total_meetup_count, <!-- 전체 모집글 -->
			   COUNT(CASE WHEN status = 'RECRUITING' THEN 1 END) AS recruiting_count, <!-- 모집중 -->
			   COUNT(CASE WHEN status = 'CLOSED' THEN 1 END) AS closed_count, <!-- 모집마감 -->
			   COUNT(CASE WHEN status = 'WEATHER_CANCELED' THEN 1 END) AS weather_canceled_count <!-- 기상악화로 인한 취소 -->
		FROM meetups A	
	   WHERE delete_yn = 'N'
	</select>
	
 	<!-- 시도 조회 -->
 	<select id="findAllSido" resultType="SidoDto">
 		select * from sidos
 	</select>
 	
 	<!-- 시군구 조회 -->
  	<select id="findAllSigungu" resultType="SigunguDto">
 		select * from sigungus 
 	</select>
 	
 	<!-- 카테고리 조회 -->
 	<select id="findAllCategory" resultType="CategoryDto">
	 	SELECT *
		  FROM categories
		 WHERE parent_id IS NULL
 	</select>
 	
 	<!-- 자식 카테고리 조회 -->
 	<select id="findAllChildCategory" resultType="CategoryDto">
	 	SELECT *
		  FROM categories
		 WHERE parent_id IS NOT NULL
 	</select>	

 	<!-- 좋아요 -->
 	<insert id="insertMeetupLike" parameterType="MeetupLikeDto">
		INSERT INTO meetup_likes  (meetup_id, member_id)
		VALUES (#{meetupId}, #{memberId}) 	
 	</insert> 
 	<!-- 좋아요 삭제 -->
 	<delete id="deleteMeetupLike" parameterType="MeetupLikeDto">
		DELETE FROM meetup_likes
		WHERE 1=1
		  AND meetup_id = #{meetupId}
		  AND member_id = #{memberId}	
 	</delete>  	
 	<!-- 좋아요 조회-->
 	<select id="selectMeetupLike" parameterType="MeetupLikeDto" resultType="MeetupLikeDto">
		SELECT *
		  FROM meetup_likes
		WHERE 1=1
		  AND meetup_id = #{meetupId}
		  AND member_id = #{memberId}	
 	</select>  	
  	<!-- 좋아요 갯수 조회-->
 	<select id="countMeetupLike" parameterType="MeetupLikeDto" resultType="int">
		SELECT COUNT(meetup_id)
		FROM meetup_likes 
		WHERE meetup_id = #{meetupId}
		<!-- GROUP BY meetup_id --> 	 
 	</select>  

	<!-- 논리삭제 -->
	<update id="updateMeetupDeleteYn" parameterType="int">
		UPDATE meetups
		SET delete_yn = 'Y',
			status = 'DELETED'
		WHERE meetup_id = #{meetupId}	
	</update>		
	
  	<!-- 모집 상세조회 detail -->
 	<select id="selectMeetupDetail" resultType="MeetupDto" parameterType="int"> 
 		SELECT A.*, 
 		       B.nickname,
 		       (SELECT COUNT(*) 
			      FROM meetup_applications 
			     WHERE meetup_id = A.meetup_id
			   ) AS total_participants,
			   F.name as sido_name
 		       
 		  FROM meetups 			A
 		  LEFT JOIN members 	B ON B.member_id = A.member_id
		  LEFT JOIN sigungus 	E ON E.sigungu_id = A.sigungu_id
		  LEFT JOIN sidos 		F ON F.sido_id = E.sido_id
		 WHERE A.meetup_id = #{meetupId}
 	</select>	
 	
	<!-- 모집저장 -->	
 	<insert id="insertMeetup" parameterType="MeetupDto">
 	<selectKey keyProperty="meetupId"
               resultType="int"
               order="BEFORE">
        SELECT MEETUPS_SEQ.NEXTVAL
        FROM DUAL
    </selectKey>
		INSERT INTO meetups(meetup_id, member_id, title, content, max_participants, min_participants, sigungu_id, category_id, meetup_at, address, address_detail, nx, ny, latitude, longitude)
		values(#{meetupId}, #{memberId}, #{title}, #{content}, #{maxParticipants}, #{minParticipants}, #{sigunguId}, #{categoryId}, TO_DATE(#{meetupAt}, 'YYYY-MM-DD"T"HH24:MI'), #{address}, #{addressDetail}, #{nx}, #{ny}, #{latitude}, #{longitude})
 	</insert>	

 	<!-- 모집수정 -->
 	<update id="updateMeetup" parameterType="MeetupDto">
 		UPDATE meetups
 		   SET title 			 = #{title},
 		   	   content 			 = #{content},
 		   	   max_participants  = #{maxParticipants},
 		   	   min_participants  = #{minParticipants}, 		   	 
 		   	   category_id 		 = #{categoryId},
 		   	   sigungu_id        = #{sigunguId},
 		   	   meetup_at 	 	 = TO_DATE(#{meetupAt}, 'YYYY-MM-DD"T"HH24:MI'),
 		   	   status			 = #{status},
 		   	   address			 = #{address},
 		   	   address_detail    = #{addressDetail},
 		   	   nx				 = #{nx},
 		   	   ny				 = #{ny},
 		   	   latitude			 = #{latitude}, 
 		   	   longitude         = #{longitude}	   	   	   	   
 		 WHERE meetup_id = #{meetupId}
 	</update> 	 	 	
 	
	 <!-- 모집신청 정보조회 -->
	<select id="findApplyInfo" resultType="MeetupApplicationDto" parameterType="MeetupApplicationDto">
	    SELECT *
	      FROM meetup_applications
	     WHERE meetup_id = #{meetupId}
	       AND member_id = #{memberId}
	
	    <if test="statusList != null and statusList.size() > 0">
	        AND status IN
	        <foreach collection="statusList"
	                 item="status"
	                 open="("
	                 separator=","
	                 close=")">
	            #{status}
	        </foreach>
	    </if>
	
	</select>	
	
  	<!-- 모집 신청저장 -->
 	<insert id="insertApplication" parameterType="MeetupApplicationDto">
		INSERT INTO meetup_applications (meetup_id, member_id)
		VALUES (#{meetupId}, #{memberId}) 	
 	</insert> 
 	
 	<!-- 모집 신청 수정 -->
 	<update id="updateApplication" parameterType="MeetupApplicationDto">
 		UPDATE meetup_applications
 		   SET status = 'PENDING'
		 WHERE 1=1
 		   AND application_id = #{applicationId}
 	</update> 	
 	
  	<!-- 모집신청 취소 -->
 	<update id="cancelApplyMeetup" parameterType="MeetupApplicationDto"> 
 		UPDATE meetup_applications
 		   SET status = 'CANCELED',
 		   	   updated_at = SYSDATE
		 WHERE 1=1
 		   AND application_id = #{applicationId}
 	</update>  		
 	
 	<!-- ***********************마이페이지*********************** -->
 	
 	<!-- 마이페이지 내 모집글 조회 + paging-->
 	<select id="selectMyMeetup" resultType="MeetupDto" parameterType="MeetupDto">
		SELECT A.*,					   
			   (SELECT COUNT(*) 
			      FROM meetup_applications 
			     WHERE meetup_id = A.meetup_id
			       AND status ='APPROVED'
			   ) AS total_participants,
			   
			   TO_CHAR(A.meetup_At, 'YYYY.MM.DD') as fomatMeetupAt,
           	   TO_CHAR(A.created_at, 'YYYY.MM.DD') as fomatcreatedAt,
			   
			   (SELECT COUNT(*) 
			      FROM meetups 
			     WHERE member_id = A.member_id
			   ) AS meetupTotalCount		   

		  FROM meetups A
		 WHERE A.delete_yn = 'N' <!-- 삭제 제외 -->
	       AND A.member_id = #{memberId}
	     ORDER BY A.created_at DESC
	     OFFSET #{start} ROWS FETCH NEXT #{end} ROWS ONLY
 	</select>
  	<select id="selectMyMeetupTotalCnt" resultType="int" parameterType="MeetupDto">
		SELECT COUNT(*)
		  FROM meetups A
		 WHERE A.delete_yn = 'N' <!-- 삭제 제외 -->
	       AND A.member_id = #{memberId}
	     ORDER BY A.created_at DESC
 	</select> 	
 	
 	<!-- 내모집글 통계 -->
	<select id="selectMyPageStats" resultType="MeetupDto" parameterType="int">
	    SELECT 
	        (SELECT COUNT(*) 
	           FROM meetups 
	          WHERE member_id = #{memberId} 
	            AND delete_yn = 'N' 
	            AND status != 'DELETED'
	         ) AS meetupCount,
	         
	        (SELECT COUNT(*) 
	           FROM reviews 
	          WHERE member_id = #{memberId} 
	            AND delete_yn = 'N'
	         ) AS reviewCount,
	         
	        (SELECT COUNT(*) 
	           FROM meetup_likes   
	          WHERE member_id = #{memberId}
	         ) AS likeCount,
	         
	        (SELECT COUNT(*) 
	           FROM meetup_applications 
	          WHERE member_id = #{memberId} 
	            AND status IN ('APPROVED', 'PENDING')
	         ) AS applicationCount
	    FROM DUAL 
   </select>

	<!-- 마이페이지 내 모집신청 조회 -->
	<select id="selectMyMeetupApply" resultType="MeetupDto" parameterType="MeetupDto">
		SELECT TO_CHAR(B.created_at, 'YYYY.MM.DD') as apply_at,<!-- 신청일 -->
           	   
			   B.reject_reason,
			   B.member_id AS apply_member_id,
			   B.status AS apply_status,
			   C.nickname, <!-- 신청자명 -->
			   TO_CHAR(A.meetup_At, 'YYYY.MM.DD') as fomatMeetupAt,		<!-- 모집일 -->
               A.*
		  FROM meetup_applications  B
          JOIN meetups  		    A ON A.meetup_id = B.meetup_id
          JOIN members 			    C ON C.member_id = B.member_id
		 WHERE A.delete_yn = 'N' <!-- 삭제 제외 -->
	       AND A.status != 'DELETED' <!-- 삭제 제외 -->
		   AND B.status != 'CANCELED' <!-- 취소 제외 -->
	       AND B.member_id = #{memberId}  <!-- 모임 신청자 아이디; --> 
	     ORDER BY A.created_at DESC
		 OFFSET #{start} ROWS FETCH NEXT #{end} ROWS ONLY
	</select>
  	<select id="selectMyMeetupApplyTotalCnt" resultType="int" parameterType="MeetupDto">
		SELECT COUNT(*)
		  FROM meetup_applications  B
          JOIN meetups  			A ON A.meetup_id = B.meetup_id
          JOIN members 			    C ON C.member_id = B.member_id
		 WHERE A.delete_yn = 'N' <!-- 삭제 제외 -->
	       AND A.status != 'DELETED' <!-- 삭제 제외 -->
		   AND B.status != 'CANCELED'
	       AND B.member_id = #{memberId} <!-- 모임 신청자 아이디; --> 
	     ORDER BY A.created_at DESC
 	</select> 	
 	
 	<!-- 마이페이지 신청자 목록조회 -->
	<select id="selectMeetupApplyMember" resultType="MeetupDto" parameterType="int">
		SELECT C.nickname,               
               TO_CHAR(B.created_at, 'YYYY.MM.DD') AS apply_at,
               B.status AS apply_status,
               A.meetup_id,
			   B.member_id,
			   B.application_id,
			   B.reject_reason,
			   D.ai_summary
		  FROM meetups 				A
          JOIN meetup_applications  B ON B.meetup_id = A.meetup_id
          JOIN members  			C ON C.member_id = B.member_id
          JOIN member_info          D ON D.member_id = B.member_id
		 WHERE A.delete_yn = 'N' 
	       AND A.status != 'DELETED' 
		   AND B.status != 'CANCELED'
	       AND A.meetup_id = #{meetupId}
	     ORDER BY B.created_at DESC
	</select>	
	
	<!-- 마이페이지 신청자 목록조회 - 승인/거절 -->
	<update id="changeMeetupApplyStatus" parameterType="MeetupApplicationDto">
		UPDATE meetup_applications
		SET status = #{status},
			reject_reason = #{rejectReason, jdbcType=VARCHAR}
		WHERE 1=1
		AND application_id = #{applicationId}
	</update>	 
	
	<!-- meetup_images 이미지 저장 -->
	<insert id="insertMeetupImages" parameterType="java.util.Map">
	    INSERT INTO meetup_images (meetup_id, image_id) 
	    <foreach collection="imageIds" item="id" separator="UNION ALL">
	        SELECT #{meetupId}, #{id, jdbcType=INTEGER} FROM dual
	    </foreach>
	</insert>
	
	<!-- images 파일 경로 저장 -->
	<insert id="insertImages" parameterType="java.util.List">
	    INSERT INTO images (image_id, image_path)
	    SELECT IMAGES_SEQ.NEXTVAL, A.imagePath
	    FROM (
	        <foreach collection="list" item="img" separator="UNION ALL">
	            SELECT #{img.imagePath} AS imagePath FROM dual
	        </foreach>
	    ) A
	</insert>
	
	<!-- 현재 시퀀스의 가장 마지막 값(CURRVAL)을 매퍼에서 가져오기 -->
	<select id="getLastImageSequence" resultType="int">
	    SELECT IMAGES_SEQ.CURRVAL FROM dual
	</select>
	
	<!-- 이미지 조회 -->
	<select id="findMeetupImage" parameterType="int" resultType="MeetupImageDto">
		SELECT *
		FROM meetup_images A
		JOIN images B ON B.IMAGE_ID = A.IMAGE_ID
		WHERE A.MEETUP_ID = #{meetupId}
	</select>
	
	<!-- 이미지 삭제 -->
	
	<delete id="deleteMeetupImages" parameterType="int">
		DELETE FROM meetup_images WHERE meetup_id = #{meetupId}
	</delete>
	
	<delete id="deleteImages" parameterType="java.util.List">
	    DELETE FROM images
	    WHERE image_id IN
	    <foreach collection="list" item="img" open="(" separator="," close=")">
	        #{img.imageId, jdbcType=INTEGER}
	    </foreach>
	</delete>
		
	<!-- 이미지 삭제 -->
	
	<!-- 노쇼방지 -->
	<!-- 노쇼방지 계산식 
	### 📉 감점 요인 (가중치 높음)
	 1. 최근 3개월 내 무단 노쇼 (`meetup_applications.status = 'NOSHOW'`):   건당 **-5점**
	 2. 모임 시작 24시간 이내 직전 취소 (`status = 'CANCEL_LAST_MINUTE'`):     건당 **-6점**
	 3. 최근 3개월 내 승인된 신고 누적 이력 (`reports` 테이블 내 유저 신고 승인 건수): 건당 **-7점**
	
	### 📈 가점 요인 (신뢰도 회복)
	 4. 최근 3개월 내 평균 리뷰 평점 우수 (`reviews.rating` 평균 4.5 이상): ** 10점 ** 
	
	계산순서 -> 신뢰도점수 - 1 - 2 - 3 + 4 
	-->
	
	<select id="calculatedScore" resultType="TrustScoreDto" parameterType="int">
		SELECT c.trust_score 
		       - (NVL(d.noshow_count, 0) * 5)
		       - (NVL(e.cancel_count, 0) * 6)
		       - (NVL(f.report_count, 0) * 7)
		       + (NVL(g.review_bonus_flag, 0) * 10) AS final_trust_score,
		
		       (NVL(d.noshow_count, 0) * 5) AS noshow_score,
		       (NVL(e.cancel_count, 0) * 6) AS cancel_score,
		       (NVL(f.report_count, 0) * 7) AS report_score,
		       (NVL(g.review_bonus_flag, 0) * 10) AS review_rating_score,
		
		       NVL(d.noshow_count, 0) AS noshow_count,
		       NVL(e.cancel_count, 0) AS cancel_count,
		       NVL(f.report_count, 0) AS report_count,
		       NVL(g.review_bonus_flag, 0) AS review_rating_count,
		       
		       c.member_id
		
		FROM member_info c
		
		LEFT JOIN (
		    SELECT a.member_id,
		           COUNT(*) AS noshow_count
		    FROM meetup_applications a
		    LEFT JOIN meetups b 
		           ON b.meetup_id = a.meetup_id
		    WHERE 1 = 1
		      AND b.delete_yn = 'N'
		      AND b.status = 'NOSHOW'
		      AND b.meetup_at &gt;= ADD_MONTHS(SYSDATE, -3)
		    GROUP BY a.member_id
		) d 
		ON d.member_id = c.member_id
		
		LEFT JOIN (
		    SELECT a.member_id,
		           COUNT(*) AS cancel_count
		    FROM meetup_applications a
		    LEFT JOIN meetups b 
		           ON b.meetup_id = a.meetup_id
		    WHERE 1 = 1
		      AND b.delete_yn = 'N'
		      AND a.status = 'CANCELED'
		      AND a.updated_at &gt;= b.meetup_at - INTERVAL '24' HOUR
		      AND a.updated_at &lt; b.meetup_at
		    GROUP BY a.member_id
		) e
		ON e.member_id = c.member_id
		
		LEFT JOIN (
		    SELECT target_id,
		           COUNT(*) AS report_count
		    FROM reports
		    WHERE created_at &gt;= ADD_MONTHS(SYSDATE, -3)
		      AND status = 'APPROVED'
		    GROUP BY target_id
		) f
		ON f.target_id = c.member_id
		
		LEFT JOIN (
		    SELECT member_id,
		    	   CASE WHEN AVG(rating) &gt;= 4.5 THEN 1 ELSE 0 END AS review_bonus_flag
		    FROM reviews
		    WHERE created_at &gt;= ADD_MONTHS(SYSDATE, -3)
		    GROUP BY member_id
		) g
		ON g.member_id = c.member_id
		
		WHERE 1 = 1
		  AND c.member_id = #{memberId}
	
	</select>
	
	<update id="updateAiSummaryAndTrustScore" parameterType="TrustScoreDto">	
		UPDATE MEMBER_INFO
		SET trust_score = #{finalTrustScore},
		    ai_summary = #{aiSummary}                         
		WHERE member_id = #{memberId}	
	</update>
	
	<!-- 노쇼방지 -->
	
	<!-- 날씨 -->
	<insert id="insertNotification" parameterType="MeetupWeatherNotificationDto">
	
	    INSERT INTO meetup_weather_notifications (
	        meetup_id,
	        member_id,
	        mobile,
	        message_content,
	        send_status
	    )
	    VALUES (
	        #{meetupId},
	        #{memberId},
	        #{mobile},
	        #{messageContent},
	        #{sendStatus}
	    )
	
	</insert>
	<!-- 모임2시간전 -->
	<select id="selectMeetupsBeforeTwoHours" resultType="MeetupDto">
	
	   SELECT a.*, b.mobile
	   FROM meetups a
	   JOIN members b on b.member_id = a.member_id
	   WHERE a.status = 'RECRUITING'
	     AND a.delete_yn = 'N'
	     AND a.meetup_at BETWEEN SYSDATE + (2/24)
	                       AND SYSDATE + (2/24) + (1/1440)	
	</select>
	
	<!-- 인기 모임 조회 - 상위 10개 -->
	<select id="findPopularMeetup" resultType="MeetupDto">
		SELECT * 
		FROM (
			SELECT count(*) as aa, 
				   ml.meetup_id,
				   MAX(m.title) AS title,
				   NVL(MAX(c.total_participants), 0) AS total_participants,
				   MAX(m.max_participants) AS max_participants,
				   MAX(sd.name) AS sidoName,
				   MAX(m.status) AS status,
				   MAX(j.image_path) as image_path,
				   ROW_NUMBER() OVER(ORDER BY COUNT(*) DESC ) AS rn
				   
			FROM meetup_likes ml
			LEFT JOIN meetups m ON ml.MEETUP_ID  = m.MEETUP_ID
			LEFT JOIN (SELECT meetup_id,
			                  COUNT(*) AS total_participants
					   FROM meetup_applications
					   WHERE 1=1
					   AND status ='APPROVED'
					   AND delete_yn = 'N'
					   GROUP BY meetup_id
					  ) c ON c.meetup_id = ml.meetup_id
			LEFT JOIN sigungus s ON s.sigungu_id = m.sigungu_id
			LEFT JOIN sidos sd ON sd.sido_id = s.sido_id
			LEFT JOIN (
			    SELECT meetup_id, image_path
			    FROM (
			        SELECT mi.meetup_id, 
			               i.image_path,
			               ROW_NUMBER() OVER (PARTITION BY mi.meetup_id ORDER BY mi.image_id ASC) as rn
			        FROM MEETUP_IMAGES mi  
			        JOIN IMAGES i ON mi.image_id = i.image_id
			    )
			    WHERE rn = 1
			) J ON J.meetup_id = ml.meetup_id		
			WHERE 1=1
			AND m.delete_yn = 'N'
			AND m.status = 'RECRUITING'
			GROUP BY ml.meetup_id
		)
		WHERE rn &lt;= 10
	</select>	
	
	<!-- 카테고리별 추천 모임 -->
	<!-- 많이 참여한 카테고리 참여 횟수 -->
	<select id="selectRecommendMeetupCount" resultType="MeetupDto" parameterType="int">
		SELECT
		    c.parent_id		   
		FROM meetup_applications ma
		JOIN meetups m
		    ON m.meetup_id = ma.meetup_id
		JOIN categories c
		    ON c.category_id = m.category_id
		JOIN categories p
		    ON p.category_id = c.parent_id
		WHERE ma.member_id = 36
		  AND ma.status = 'APPROVED'
		  AND m.delete_yn = 'N'
		GROUP BY
		    c.parent_id,
		    p.category_name
		ORDER BY
		    COUNT(*) DESC
		FETCH FIRST 2 ROWS ONLY		    
    </select>
    
    <!-- 가장 많이 참여한 부모 카테고리의 모집 중 모임 추천 - 이미 참여한 모임은 제외 -->
    <select id="selectRecommendMeetups" resultType="MeetupDto" parameterType="MeetupDto">
	    SELECT m.*, sd.name AS sido_name,j.image_path
		FROM meetups m
		JOIN categories c
		    ON c.category_id = m.category_id
		LEFT JOIN sigungus s
		    ON s.sigungu_id = m.sigungu_id
		LEFT JOIN sidos sd
		    ON sd.sido_id = s.sido_id
	    LEFT JOIN (
		    SELECT meetup_id, image_path
		    FROM (
		        SELECT mi.meetup_id, 
		               i.image_path,
		               ROW_NUMBER() OVER (PARTITION BY mi.meetup_id ORDER BY mi.image_id ASC) as rn
		        FROM MEETUP_IMAGES mi  
		        JOIN IMAGES i ON mi.image_id = i.image_id
		    )
		    WHERE rn = 1
		) J ON J.meetup_id = m.meetup_id
		WHERE c.parent_id = #{parentId}
		  AND m.status = 'RECRUITING'
		  AND m.delete_yn = 'N'
		  AND NOT EXISTS (
		      SELECT 1
		      FROM meetup_applications ma
		      WHERE ma.meetup_id = m.meetup_id
		        AND ma.member_id = #{memberId}
		  )
		ORDER BY m.created_at DESC
		FETCH FIRST 1 ROWS ONLY
    </select>    
	<!-- 카테고리별 추천 모임 -->
	
	<!-- 카테고리 찾아오기 -->	
	<select id="selectCategoryId" resultType="Integer" parameterType="String">
	    SELECT category_id
	    FROM categories
	    WHERE category_name = #{categoryName}
	</select>
</mapper>
