<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moit.qna.dao.QuestionAiAnalysisMapper">

    <insert id="insert" parameterType="QuestionAiAnalysisDto">
        INSERT INTO question_ai_analysis
        ( question_id, analysis_status, aggression_score )
        VALUES
        ( #{questionId}, #{analysisStatus}, #{aggressionScore} )
    </insert>

	<update id="changeToNormal">
	    UPDATE QUESTION_AI_ANALYSIS
	    SET ANALYSIS_STATUS='NORMAL'
	    WHERE QUESTION_ID=#{questionId}
	</update>

</mapper>