<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기</title>

<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/memberStyle.css}">
</head>
<body>

<div th:replace="~{user/fragments/mainHeader :: mainHeader}"></div>

<div class="auth-box">

    <h2>비밀번호 재발급</h2>

    <form th:action="@{/user/member/changePassword}" method="post">

	    <input type="hidden"
	           name="loginId"
	           th:value="${loginId}">
	
	    <input type="hidden"
	           th:name="${_csrf.parameterName}"
	           th:value="${_csrf.token}">
	
	    <div class="form-group">
	        <input type="password"
	               name="password"
	               id="password"
	               placeholder="새 비밀번호"
	               required>
	    </div>
	
	    <div class="form-group">
	        <input type="password"
	               id="passwordCheck"
	               placeholder="비밀번호 확인"
	               required>
	    </div>
	
	    <div id="passCheck" class="target"></div>
	
	    <button class="btn btn-primary">
	        비밀번호 변경
	    </button>
	
	</form>

    <div class="auth-links"
         style="justify-content:center; margin-top:20px;">

        <a th:href="@{/user/member/login}">
            로그인
        </a>

        <span>|</span>

        <a th:href="@{/user/member/findId}">
            아이디 찾기
        </a>

        <span>|</span>

        <a th:href="@{/user/member/join}">
            회원가입
        </a>

    </div>

</div>

<div th:replace="~{user/fragments/footer :: footer}"></div>

	<script>
	
	const password=document.getElementById("password");
	const passwordCheck=document.getElementById("passwordCheck");
	const passTarget=document.getElementById("passCheck");
	const form=document.getElementById("findPwForm");
	
	passwordCheck.addEventListener("keyup",()=>{
	
	    if(password.value===passwordCheck.value){
	        passTarget.textContent="비밀번호가 일치합니다.";
	        passTarget.className="target text-success";
	    }else{
	        passTarget.textContent="비밀번호가 일치하지 않습니다.";
	        passTarget.className="target text-danger";
	    }
	
	});
	
	form.addEventListener("submit",(e)=>{
	
	    if(password.value!==passwordCheck.value){
	        alert("비밀번호가 일치하지 않습니다.");
	        e.preventDefault();
	        return;
	    }
	
	});
	
	</script>

</body>
</html>