<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<th:block th:fragment="meetupSidebar">
		<aside class="sidebar">

			<h3>카테고리</h3>

			<div class="category meetupList-category" id="meetupList-category"></div>
			
			<section class="side-ad"
		             th:if="${sidebarAd != null}"
		             th:classappend="${sidebarAd.imageList != null and !sidebarAd.imageList.isEmpty()} ? ' has-image' : ''">
		
		        <a th:href="@{/user/advertisement/click(adId=${sidebarAd.adId},  position='MEETUP_LIST_SIDEBAR')}">
		
		            <img th:if="${sidebarAd.imageList != null 
		                         and !sidebarAd.imageList.isEmpty()}"
		                 th:src="@{${sidebarAd.imageList[0].imageUrl}}"
		                 alt="광고">
		
		            <div th:if="${sidebarAd.imageList == null or sidebarAd.imageList.size() == 0}">
		                광고 이미지 준비중
		            </div>
		
		        </a>
		        
		        <!-- PREMIUM 광고 제목 -->
		        <div th:if="${sidebarAd.adGrade == 'PREMIUM'}"
		             class="premium-ad-overlay">		
		
		            <span th:text="${sidebarAd.title}">
		                광고 제목
		            </span>		
		
		            <!-- hover 내용 -->
		            <div class="premium-ad-tooltip">		
		                <p th:utext="${#strings.replace(sidebarAd.content,'.','.<br>')}"></p>		
		            </div>		
		        </div>
		
		    </section>
			
			<div class="sidebar-ad meetupList-sidebar-ad"
			     sec:authorize="hasRole('PARTNER')">
			
			    <a th:href="@{/user/advertisement/list}">
			        <img src="/upload/ad/ad-promo.png"
			             alt="광고 신청하기">
			    </a>

			</div>
		</aside>
	</th:block>
</body>
</html>