<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<th:block th:fragment="adminSidebar">
		<!-- 사이드바 -->
		<div class="sidebar">
			<div class="logo">MOIT</div>
			<div class="menu">					
				<a href="#">회원관리</a> 
				<a href="/admin/meetup/list"
				   class="menu-link"
				   data-path="/admin/meetup">
				   모임관리
				</a>
				<a href="/questions/admin".
				   class="menu-link"
				   data-path="/questions/admin">
				   문의관리
				</a>				
				<a href="/admin/review/list"
				   class="menu-link"
				   data-path="/admin/review/list">
				   후기관리
				</a>	
				<a href="/admin/report/adminList"
				   class="menu-link"
				   data-path="/admin/report/adminList">신고관리</a>
				<a href="/admin/advertisement/manageList"
			       class="menu-link"
			       data-path="/admin/advertisement">
			       광고관리
			    </a>
			</div>
		</div>
		<script>
	
			document.addEventListener("DOMContentLoaded", function () {
		
			    const path = window.location.pathname;
		
			    document.querySelectorAll(".menu-link").forEach(a => {
		
			        const basePath = a.dataset.path;
		
			        if (path.startsWith(basePath)) {
			            a.classList.add("active");
			        }
			    });
			});
		</script>
	</th:block>

</body>
</html>